<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="./img/icon.png">
</head>
<body>
{{>header}}
    <div id="formDiv">
        <form>
            <label for="loc">please Enter any location</label>
            <input type="text" placeholder="location" id="loc">
            <button>Search</button>
        </form>
    </div>

    <div id="result">
        <div class="div1">
            <h4>Your current location</h4>
            <p class="p1"></p>
        </div>
        <div class="div2">
            <h4>Your current weather</h4>
            <p class="p2"></p>
        </div>
    </div>
{{>footer}}
 <script src="/js/app.js"></script>
</body>
</html>