<div id="container">
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
        </ul>
    </div>

    <h1 class="title">{{title}}</h1>
    <p class="name">Created by {{name}}</p>